<div class="content-secondary">
    <div class="content-table">
        <nav class="nav-content-table">
            <span class="title-table">Tarjetas</span>
            <span class="reload"><i class="fa-solid fa-repeat"></i></span>
        </nav>
        <div class="div-filters">
            <div class="button-filter">
                <button class="filter"><i class="fa-solid fa-filter"></i></button>
                <button class="plus"><i class="fa-solid fa-plus" routerLink="/addpayments-log"></i></button>    
            </div>
             <div class="input-button">
                 <button class="submit-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                 <input class="search" type="search" placeholder="Buscar tarjeta" (keyup)="keyFunc($event)">
            </div>
        </div>
        <app-table-payment-logs></app-table-payment-logs>
    </div> 
</div>