$color-1:rgb(0, 176, 234);
$color-1-linear:linear-gradient(8deg, rgba(0,177,234,1) 0%, rgba(1,181,238,1) 26%, rgba(0,177,234,1) 100%);
$color-1-secondary:  rgb(1, 161, 214);
$font-primary: 'Lato', sans-serif;
.content-secondary{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-table{
        width: 95%;
        margin-top: 10px;
        padding-bottom: 20px;
        background-color: white;
        border-radius: 10px;
        .nav-content-table{
            width: 100%;
            height: 30px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: $color-1-secondary;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .title-table{
                color: white;
                margin-left: 20px;
                font-family: $font-primary;
                font-weight: bold;
            }
            .reload{
                color: white;
                margin-right: 20px;
                cursor: pointer;
            }
        }
        .div-filters{
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            width: 96%;
            margin-left: 2%;
            height: 35px;
            .button-filter{
                display: flex;
                button{
                    border:1px solid rgb(218, 218, 218) ;
                    background-color: white;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background-color:$color-1-secondary;
                        color: white;
                    cursor: pointer;
                    margin-left: 5px;
                    transition: all 0.2s ease-in-out;
                    overflow: hidden;
                    font-size: 16px;
                    
                    
                }
            }
            
            .input-button{

                width: 40%;
                display: flex;
                flex-direction: row;
               
                .submit-search{
                    cursor: pointer;
                    border:1px solid $color-1-secondary ;
                    background-color: $color-1-secondary;
                    color: white;
                    padding: 5px 5px;
                    border-top-left-radius:5px ;
                    border-bottom-left-radius:5px ;
                }
                .search{

                    color: rgb(63, 62, 62);
                    border:1px solid rgb(218, 218, 218);
                    width: 100%;
                    outline: none;
                    padding: 0px 10px;
                    border-top-right-radius:5px ;
                    border-bottom-right-radius:5px ;
             
                }
            }
        }
      
    }
}
.register{
    position: fixed;
    background-color: red;
    margin-left: 90%;
    margin-top: 75%;
}

@media screen and (max-width: 968px){
    .no-important{display: none;}
}
@media screen and (max-width: 530px){
   
    .content-secondary{
        .content-table{
            width: 100%;
            margin-left: 0;
           
        }
    }
}