$color-1:rgb(0, 176, 234);
$color-1-linear:linear-gradient(8deg, rgba(0,177,234,1) 0%, rgba(1,181,238,1) 26%, rgba(0,177,234,1) 100%);
$color-1-secondary: rgb(1, 161, 214);
$color-1-secondary-disable: rgba(4, 134, 177, 0.445); 
$font-primary: 'Lato', sans-serif;
.table{
    width: 96%;
    margin-left: 2%;
    overflow: auto;
    height: calc(100% - 45px);
    table{
        width: 100%;
       
        thead{
            tr{
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                th{
                    padding: 10px 20px;
                    font-family: $font-primary;
                    font-size: 14px;
                }
            }
            
        }
        tbody{
            tr{
               
             
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                th,td{
                    padding: 10px 20px;
                    text-align: center;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 12px;
                    cursor: pointer;
                   
                }
                
                .finalizado {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                         color: white;
                        padding: 5px 20px;
                        border-radius: 2px;
                    }
                    .success{
                        background-color: rgb(11, 211, 11);
                    
                    }
                    .danger{
                        background-color: rgb(11, 211, 11);
                    
                    }
                    
                   
                }
                
            } 
            tr:hover{
                    background-color: rgba(0, 0, 0, 0.15);
                }
            tr:nth-child(2n){
                background-color: rgb(247, 244, 244);
                &:hover{
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
.register{
    position: fixed;
    background-color: red;
    margin-left: 90%;
    margin-top: 75%;
}
@media screen and (max-width: 968px){
    .no-important{display: none;}
}
@media screen and (max-width: 530px){
   
    .content-secondary{
        .content-table{
            width: 100%;
            margin-left: 0;
           
        }
    }
}