<div class="table">    
    <table >
        <thead>
            <tr>
                <th scope="col"><span class="title-col">No.</span> </th>
                <th scope="col"><span class="title-col">Cliente</span> </th>
                <th scope="col"><span class="title-col">Producto</span></th>
                <th scope="col"><span class="title-col">Pagos</span></th>
                <th scope="col"><span class="title-col">Monto total</span></th>

            </tr>
        </thead>
        <tbody class="tbody">
            
            <tr *ngFor="let user of Users">
                    <th scope="row">{{user.payment_logs_num}}</th>
                        <td>{{user.customer}}</td>
                        <td>{{user.producto}}</td>
                        <td>{{user.amount_of_payments}}</td>
                        <td>${{user.full_payment}}</td>
                </tr>
            
        </tbody>
    </table>
</div>